body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Multiselect Tags dans formulaire */
.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}
.input-tag input {
  border: none;
  width: 100%;
}
.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}
.input-tag__tags li {
  align-items: center;
  background: #85A3BF;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}
.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 17px;
  height: 18px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 18px;
}
.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

/* Suggestions pour les tags dans formulaire */
.suggestions {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}
.suggestions li{
  cursor: default;
  align-items: center;
  background: #2a61a8;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 1px 5px;
}
.suggestions li:hover{
  align-items: center;
  background: #1a1972;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 1px 5px;
}

 /* Erreur dans form */
.error{
  font-size: 12px;
  color:red;
}

/* Pagination */
.pagination {
  display: inline-block;
}
.pagination li {
  color: black;
  float: left;
  padding: 8px 15px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ddd;
}
.pagination li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination li.active {
  background-color: #2a61a8;
  color: white;
}
.pagination li:hover:not(.active) {background-color: #ddd;}

/* MODAL UPDATE */
.modaltest {
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

/* Overflow TAGS */

.scroll-horizontal::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.scroll-horizontal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 40px rgba(0,0,0,0.3); 
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
.scroll-horizontal::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(23, 162, 184, 0.8); 
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); 
}
.scroll-horizontal::-webkit-scrollbar-thumb:window-inactive {
background:rgba(23, 162, 184, 0.8); 
}